* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

a {
    color: black;
}

nav a:hover {
    border-bottom: 1px solid #777777;
}

#promo-banner {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10 0 10 0;
    font-size: 11px;
}

#logo-nav {
    padding: 20px 40px 40px 40px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

#logo {
    display: inline;
    float: left;
    font-family: 'Montserrat', sans-serif;
}

#logo span {
    color: rgb(22, 79, 114);
}

#logo i {
    color: rgb(22, 79, 114);
}

#logo-nav #nav {
    float: right;
}

#nav ul {
    list-style-type: none;
}

#nav li {
    float: left;
    padding: 0 40px;
}

#banner {
    clear: both;
    background: url("assets/images/IMG_6734-1.JPG") no-repeat top center;
    background-size: cover;
    max-width: 100%;
    height: 88vh;
}

#booking {
    background-color: white;
    opacity: 0.9.3;
    width: 30%;
    margin-right: 5%;
    margin-top: 8%;
    height: auto;
    float: right;;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 8px 15px #545454;
}

#booking h2 {
    margin-bottom: 20px;
    font-size: 2vw;
    color: rgb(22, 79, 114);
}

form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 15px;
}

#address-form {
    grid-column: 1 / span 2;
}

#booking label {
    color: rgb(22, 79, 114);
}

#booking input {
    border: 1px solid rgb(22, 79, 114);
    border-radius: 5px;
    padding: 9px;
    width: 90%;
    margin-top: 5px;
}

textarea {
    border: 1px solid rgb(22, 79, 114);
    border-radius: 5px;
    width: 95%;
}

#address {
    margin-top: 5px;
}

#submit {
    background-color: rgb(22, 79, 114);
    color: white;
    width: 10em;
    height: 3em;
}

#terms {
    background-color: inherit;
    text-decoration: underline;
    text-align: left;
    font-size: 0.9em;
}

#newspapers {
    background-color: rgba(247, 247, 247, 0.8);
}

#newspapers p {
    text-align: center;
    padding: 15px 0 10px 0;
    background-color: white;
    color: rgb(22, 79, 114);
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 0.9em;
}

.newspaper-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 40px;
  }
  
.newspaper-grid > div {
    text-align: center;
    padding-bottom: 40px;
    font-size: 20px;
  }

#testimonial {
    text-align: center;
    padding: 40px 0 40px 0;
    font-size: 1.2em;
}

.newspaper-grid > .logo img{
    max-height: 35px;
}

/*used to offset anchor point to accomodate header height */
#about {
    padding-top: 80px;
    margin-top: -80px;
}

.about-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0 10px;
}

.image-hover:hover {
    filter: opacity(50%);
}

.about-grid1 {
    background: url("assets/images/about1.jpg") no-repeat top center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

.about-grid2 {
    background: url("assets/images/about2.jpg") no-repeat top center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

.about-grid3 {
    background: url("assets/images/about3.jpg") no-repeat top center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

.about-grid4 {
    background: url("assets/images/about4.jpg") no-repeat top center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

.about-grid5 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 3;
    padding: 0 15px;
    line-height: 1.5;
    font-size: 1.25vw;
}

#pet-brands {
    background-color: rgba(247, 247, 247, 0.8);
}

.pet-grid > .logo img{
    max-height: 60px;
}

#pet-brands #pet-text {
    text-align: center;
    padding: 20px 0 20px 0;
}

.pet-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
  
.pet-grid > div {
    text-align: center;
    padding-bottom: 40px;
}

#gallery-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0 3px;
    margin-bottom: 3px;
}

#gallery-grid .image1 {
    background: url("assets/images/gallery1.jpg") no-repeat center center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

#gallery-grid .image2 {
    background: url("assets/images/gallery2.jpg") no-repeat center center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

#gallery-grid .image3 {
    background: url("assets/images/gallery3.jpg") no-repeat center center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

#gallery-grid .image4 {
    background: url("assets/images/gallery4.jpg") no-repeat center center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

#gallery-grid .image5 {
    background: url("assets/images/gallery5.jpg") no-repeat center center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

#gallery-grid .image6 {
    background: url("assets/images/gallery6.jpg") no-repeat center center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

#gallery-grid .image7 {
    background: url("assets/images/gallery7.jpg") no-repeat center center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

#gallery-grid .image8 {
    background: url("assets/images/gallery8.jpg") no-repeat center center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

#gallery-grid .image9 {
    background: url("assets/images/gallery9.jpg") no-repeat center center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

#gallery-grid .image10 {
    background: url("assets/images/gallery10.jpg") no-repeat center center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

#gallery-grid .image11 {
    background: url("assets/images/gallery11.jpg") no-repeat center center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

#gallery-grid .image12 {
    background: url("assets/images/gallery12.jpg") no-repeat center center; 
    background-size: cover;
    width: auto;
    height: 300px;
    border: 2px solid white;
}

#map {
    width: 70%;
    float: left;
}

iframe {
    width: 100%;
}

#contact-right {
    width: 30%;
    float: right;
    height: auto;
}

#contact-content {
    padding: 30px 30px;
}

#contact-content input {
    border: 1px solid rgb(22, 79, 114);
    border-radius: 5px;
    padding: 5px 30px;
    width: 100%;
}

#contact-content label {
    line-height: 2em;
}

#contact-content #submit {
    margin-top: 20px;
}

#contact-content #contact-message {
    width: 100%;
}

#contact-right .required {
    color: red;
}

#contact-right p {
    font-size: 0.5em;
    padding-bottom: 20px;
}

footer {
    clear: both;
    background-color: #343434;
    color: white;
    height: 80px;
    line-height: 80px;
    padding: 0px 30px;
}

footer a {
    color: white;
    text-decoration: underline;
}

#footer-text {
    width: 50%;
    position: inline;
    float: left;
    font-size: 1em;
}

#social-logos {
    width: 50%;
    position: inline;
    float: right;
    text-align: right;
    font-size: 2em;
}